body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  background: radial-gradient(
    circle,
    rgb(5, 17, 31) 100%,
    rgb(11, 37, 67) 100%
  );
}

/* Banner Section */

.container {
  position: relative;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  filter: blur(100px);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 10;
  text-align: center;
}

.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.name {
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
  margin-top: 1rem;
}

.typewriter-container {
  margin-top: 2rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}

/* Service Section */

.service-container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 20px 4px;
}

.service-content {
  text-align: center;
}

.service-blob {
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.service-title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #fff;
  width: 80%;
}

.service-title span {
  font-weight: normal;
}

.service-description {
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #c4c4c4;
  margin-top: 20px;
  text-align: left;
  padding-left: 250px;
}

.service-list {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.service-card {
  flex: 1;
  padding: 20px;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 10px;
  text-align: left;
  margin-inline: 10px;
  padding-block: 70px;
}

.service-icon {
  font-size: 4xl;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.12);

  width: fit-content;
}

.service-name {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 2xl;
  color: #fff;
}

.service-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #c4c4c4;
  line-height: 1.5;
}

/* // */

.resume-container {
  margin-inline: 100px;
}

.resume-blob {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #121212, #000);
  z-index: -1;
}

.resume-content {
  position: relative;
  background: rgba(217, 217, 217, 0.1);
  border-radius: 20px;
  padding: 30px;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.resume-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.resume-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.resume-info {
  color: #fff;
}

.resume-summary {
  margin-bottom: 20px;
}

.resume-name {
  font-size: 20px;
  font-weight: bold;
}

.resume-role {
  font-size: 14px;
  color: #c4c4c4;
}

.experience-years {
  font-size: 40px;
  font-weight: bold;
  color: #ef4765;
}

.experience-label {
  font-size: 14px;
  color: #c4c4c4;
}

.resume-description {
  font-size: 14px;
  color: #c4c4c4;
  line-height: 1.6;
}

.resume-experience-list {
  color: #fff;
}

.experience-item {
  margin-bottom: 20px;
}

.experience-details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.experience-title {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
}

.experience-logo {
  width: 30px;
  height: auto;
}

.experience-date {
  font-size: 14px;
  color: #c4c4c4;
}

.hr {
  border-top: 2px solid #666;
  margin: 20px 0;
}

/* Skills Section Styles */
/* Skills Section Styles */
.skills {
  margin-top: 30px;
}

.skills-title {
  font-size: 20px;

  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-item {
  padding: 10px 20px;
  background-color: rgba(220, 220, 220, 0.242);
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;

  transition: all 0.3s ease;
}

.skill-item:hover {
  background-color: #007bff;
  color: #fff;
}

.tools-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tools-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tool-item {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 10px;
}

/* SVG Icons Styling */
.tool-item svg {
  width: 60%;
  height: 60%;
  fill: #333; /* Adjust icon color */
}
/* project */
.project-container {
  padding: 20px 0;
  position: relative;
  margin-top: 50px;
}

.content {
  max-width: 1380px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 10px;
}

.description {
  font-size: 0.75rem;
  color: #c4c4c4;
  margin-bottom: 20px;
}

.project-list {
  gap: 10px;
}

.project-card {
  overflow: hidden;
  position: relative;
}
.first-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.second-row {
  display: flex;
  padding-top: 20px;
  gap: 10px;
}
.project-card.large {
  width: 60%;
  height: 300px;
}

.project-card.small {
  width: 40%;
  height: 300px;
}

.project-card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.project-card:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover .overlay {
  opacity: 1;
}

.overlay h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons a {
  margin: 0 5px;
}

.show-all-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-all-button:hover {
  background-color: #0056b3;
}
